body {
  background: #ccc;
}

.testBackground {
  height: 200px;
  width: 100%;
  background-image: url(/assets/images/background-40c85d0d4832b27269d4ea463a3b9883.jpg);
}

.container {
  margin: 2rem auto;
}
